# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de compilación
*.pyc
__pycache__/

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar directorios de pruebas
tests/
test/

# Ignorar dependencias de entorno virtual
venv/
env/

# Ignorar archivos de log
*.log

# Ignorar archivos de caché
*.pyo
*.pyd

# Ignorar archivos de documentación
docs/

# Asegurarse de no ignorar el archivo .env
!.env